USE [QLquannet]
GO
/****** Object:  Table [dbo].[DICHVU]    Script Date: 06/01/2026 11:43:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DICHVU](
	[MaDV] [int] IDENTITY(1,1) NOT NULL,
	[TenDV] [nvarchar](50) NOT NULL,
	[DonGia] [money] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MaDV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MAYTINH]    Script Date: 06/01/2026 11:43:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MAYTINH](
	[MaMay] [int] IDENTITY(1,1) NOT NULL,
	[TenMay] [nvarchar](50) NOT NULL,
	[TrangThai] [nvarchar](20) NULL,
	[GiaTheoGio] [money] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MaMay] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NapTien]    Script Date: 06/01/2026 11:43:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NapTien](
	[MaNap] [int] IDENTITY(1,1) NOT NULL,
	[MaTK] [int] NOT NULL,
	[SoTien] [money] NOT NULL,
	[NgayNap] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[MaNap] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NhanVien]    Script Date: 06/01/2026 11:43:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NhanVien](
	[MaNhanVien] [int] IDENTITY(1,1) NOT NULL,
	[TenNhanVien] [nvarchar](50) NOT NULL,
	[DienThoai] [varchar](15) NULL,
	[Luong] [money] NULL,
	[ChucVu] [nvarchar](30) NULL,
	[NgayVaoLam] [date] NULL,
PRIMARY KEY CLUSTERED 
(
	[MaNhanVien] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SuDungDichVu]    Script Date: 06/01/2026 11:43:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SuDungDichVu](
	[MaSDDV] [int] IDENTITY(1,1) NOT NULL,
	[MaSD] [int] NOT NULL,
	[MaDV] [int] NOT NULL,
	[SoLuong] [int] NOT NULL,
	[ThanhTien] [money] NULL,
PRIMARY KEY CLUSTERED 
(
	[MaSDDV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SuDungMay]    Script Date: 06/01/2026 11:43:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SuDungMay](
	[MaSD] [int] IDENTITY(1,1) NOT NULL,
	[MaMay] [int] NOT NULL,
	[MaTK] [int] NOT NULL,
	[ThoiGianBatDau] [datetime] NOT NULL,
	[ThoiGianKetThuc] [datetime] NULL,
	[TongTien] [money] NULL,
PRIMARY KEY CLUSTERED 
(
	[MaSD] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TaiKhoanNguoiChoi]    Script Date: 06/01/2026 11:43:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TaiKhoanNguoiChoi](
	[MaTK] [int] IDENTITY(1,1) NOT NULL,
	[TenDangNhap] [nvarchar](50) NOT NULL,
	[MatKhau] [nvarchar](100) NOT NULL,
	[SoDu] [money] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MaTK] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[TenDangNhap] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[MAYTINH] ADD  DEFAULT (N'FREE') FOR [TrangThai]
GO
ALTER TABLE [dbo].[NapTien] ADD  DEFAULT (getdate()) FOR [NgayNap]
GO
ALTER TABLE [dbo].[SuDungDichVu] ADD  DEFAULT ((0)) FOR [ThanhTien]
GO
ALTER TABLE [dbo].[SuDungMay] ADD  DEFAULT (getdate()) FOR [ThoiGianBatDau]
GO
ALTER TABLE [dbo].[SuDungMay] ADD  DEFAULT ((0)) FOR [TongTien]
GO
ALTER TABLE [dbo].[TaiKhoanNguoiChoi] ADD  DEFAULT ((0)) FOR [SoDu]
GO
ALTER TABLE [dbo].[NapTien]  WITH CHECK ADD  CONSTRAINT [FK_NapTien_TK] FOREIGN KEY([MaTK])
REFERENCES [dbo].[TaiKhoanNguoiChoi] ([MaTK])
GO
ALTER TABLE [dbo].[NapTien] CHECK CONSTRAINT [FK_NapTien_TK]
GO
ALTER TABLE [dbo].[SuDungDichVu]  WITH CHECK ADD  CONSTRAINT [FK_SDDV_DV] FOREIGN KEY([MaDV])
REFERENCES [dbo].[DICHVU] ([MaDV])
GO
ALTER TABLE [dbo].[SuDungDichVu] CHECK CONSTRAINT [FK_SDDV_DV]
GO
ALTER TABLE [dbo].[SuDungDichVu]  WITH CHECK ADD  CONSTRAINT [FK_SDDV_SDM] FOREIGN KEY([MaSD])
REFERENCES [dbo].[SuDungMay] ([MaSD])
GO
ALTER TABLE [dbo].[SuDungDichVu] CHECK CONSTRAINT [FK_SDDV_SDM]
GO
ALTER TABLE [dbo].[SuDungMay]  WITH CHECK ADD  CONSTRAINT [FK_SDM_May] FOREIGN KEY([MaMay])
REFERENCES [dbo].[MAYTINH] ([MaMay])
GO
ALTER TABLE [dbo].[SuDungMay] CHECK CONSTRAINT [FK_SDM_May]
GO
ALTER TABLE [dbo].[SuDungMay]  WITH CHECK ADD  CONSTRAINT [FK_SDM_TK] FOREIGN KEY([MaTK])
REFERENCES [dbo].[TaiKhoanNguoiChoi] ([MaTK])
GO
ALTER TABLE [dbo].[SuDungMay] CHECK CONSTRAINT [FK_SDM_TK]
GO
ALTER TABLE [dbo].[DICHVU]  WITH CHECK ADD CHECK  (([DonGia]>(0)))
GO
ALTER TABLE [dbo].[MAYTINH]  WITH CHECK ADD CHECK  (([GiaTheoGio]>(0)))
GO
ALTER TABLE [dbo].[NapTien]  WITH CHECK ADD CHECK  (([SoTien]>(0)))
GO
ALTER TABLE [dbo].[NhanVien]  WITH CHECK ADD CHECK  (([Luong]>=(0)))
GO
ALTER TABLE [dbo].[SuDungDichVu]  WITH CHECK ADD CHECK  (([SoLuong]>(0)))
GO
ALTER TABLE [dbo].[TaiKhoanNguoiChoi]  WITH CHECK ADD CHECK  (([SoDu]>=(0)))
GO
/****** Object:  StoredProcedure [dbo].[ResetData]    Script Date: 06/01/2026 11:43:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[ResetData]
AS
BEGIN
    SET NOCOUNT ON;
    BEGIN TRAN;

    DELETE FROM SuDungDichVu;
    DELETE FROM SuDungMay;
    DELETE FROM NapTien;
    DELETE FROM DICHVU;
    DELETE FROM MAYTINH;
    DELETE FROM NhanVien;
    DELETE FROM TaiKhoanNguoiChoi;

    DBCC CHECKIDENT ('SuDungDichVu', RESEED, 0);
    DBCC CHECKIDENT ('SuDungMay', RESEED, 0);
    DBCC CHECKIDENT ('NapTien', RESEED, 0);
    DBCC CHECKIDENT ('DICHVU', RESEED, 0);
    DBCC CHECKIDENT ('MAYTINH', RESEED, 0);
    DBCC CHECKIDENT ('NhanVien', RESEED, 0);
    DBCC CHECKIDENT ('TaiKhoanNguoiChoi', RESEED, 0);

    COMMIT;
END;
GO
